.gray-box{
    border: 1px solid black;
    background: gray;
    padding:25px;

}

.white-box {
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    
}

.header {
    height: 45px;
    background: #208ce3;
    border: 1px solid black;
}

.third-row {
    height:40px;
    border: 1px solid black;
    
}

.box1{
    padding-left: 10px;
}

.search {
    border: 1px solid black;
    background:#33cc66;
    height: 70px;
    border-radius:5px;
    
}

.tasks {
    border: 1px solid black;
    height: 300px;
    background: pink;

}

.analytics {
    height:400px;
    border: 1px solid black;
}

.recommendations {
    border: 1px solid black;
    height: 600px;
    background: green;
    margin-top: -100px;
    }

.contacts {
    border: 1px solid black;
    float: right;
    margin-top:-500px;
    height: 270px;
}

.did {
    margin-top:-230px;
    border: 1px solid black;
    height: 230px;

}
 
 .ads {
    border: 1px solid black;
    height: 220px;
    
 }

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
    
.border-top-radius(@radius) {
  border-top-right-radius: @radius;
   border-top-left-radius: @radius;
}
.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
     border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
   border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
     border-top-left-radius: @radius;
}