body {
    
    font-family: myriad pro, sans-serif;
    position: relative;
}

h1 {
    color: white;
}

h2 {
    color: #2498f4;
}

a {
    text-decoration: none;

    
}

ul {
list-style-type: none;
}

a:hover {
    text-decoration: none;
}

.navigation{
    border: 1px solid #cccccc;
    padding:25px;
    background-image: url(menubackground.gif);
    height:111px;
    padding-left:30%;
    background-size: 100% auto;
    position: relative;
    width: 100%;

}

.smallnav {
    background-color: #154871;
    
}

.dropdown-menu navmenu {
    margin-left:17em;
}

.navbtn{
    margin-left: 2em;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #154871;
    border-color: white;
    color: white;
}
    
.navlist {
    position: absolute;
}

.navlist li {
    padding-top:30px;
    list-style: none;
    position: absolute;
    top: 0;
}

.navlist li, .navlist a {
    display: block;
}

.ds {
    margin-bottom: 0px;
}

.cg {
    margin-left:90px;
    margin-top:10px;
}

.mg {
    margin-left:180px;
    margin-top:10px;
}

.pg {
    margin-left: 270px;
    margin-top:10px;
}

.gp {
    margin-left: 345px;
    margin-top:5px;
}

.ag {
    margin-left: 425px;
    margin-top: 10px;
}

.nl{
    padding-top: 30px;
}
.community {
    margin-right:100px;
}

.white-box {
    border: 1px solid #cccccc;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
    border-radius: 5px;
    margin-right: 50px;
    margin-left: 50px;

}

.topbar {
    
    background: #208ce3;

}

.socialtext {
    font-size: 20px;
    padding-left: 20%;
    color: white;
    padding-top: 10px;
    max-height: 45px;
    position: relative;

}

.header {
    max-height: 45px;
    background: #208ce3;
    color: white;
    padding-left: 70%;
    padding-top: 10px;
    position: relative;
}

.third-row {
    min-height: 40px;
    margin-top: 10px;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    
}

.box1 {
    color: #fe7f13;
    padding-top: .5em;
    border-left: 1px solid #cccccc;
    
}

.box2, .box3 {
    padding-top:.5em;
}
.search {
    border: 1px solid #cccccc;
    background:#33cc66;
    min-height: 70px;
    border-radius:5px;
    padding-top: 10px;
    margin-top: 10px;


    
}

.form-control {
    display: block;
    background:#FFFFFF url(Search.png) no-repeat 95%;
    position: relative;
    margin-left: 150px;

}

.form-control2 {
     display: block;
    background:#FFFFFF url(Search.png) no-repeat 95%;
    position: relative;
    width: 100%
}

.textsearch {
}

.top {
    font-size: 36px;
    color:white;
    float: left;
}

.tasks {
    border: 1px solid #cccccc;
    min-height: 300px;

}

.numtasks {
    font-size: 21px;
    color: #2498f4;
    padding-top: 50px;

}

.numlist {
    padding-top:15px;
    margin-left: -10%;
    
}

.pr {
    position: relative;
}

.welcomec {
    color: #cccccc;
    font-size:21px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #cccccc;
}

.numbercircle {
    
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #33cc66;
    padding-top: 5px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-left: 9px;
    margin-right: 10px;

}

.numbercircle:hover{
    background-color:#cccccc;
    
}

.numbercircle:link{
    color:#FFFFFF;
}

.greytext:hover {
color: #cccccc;
    
}
.num2{
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #cccccc;
    
}

.num2:hover{
    color:#cccccc; 
}

.num2:link {
    text-decoration: none;
}

.stupidbox, .stupidbox2, .stupidbox3, .stupidbox4{
    border: 1px solid #cccccc;
    border-radius: 5px;
    position: relative;
    padding: 5px 5px 5px 5px;
    float: right;

}

.numlist li {
    padding-bottom: 35px;
    border-bottom: 1px grey;

}

.smallhead {
    background-image: url("blueperson.png");
    width: 20px;
    height: 20px;
    display: inline-block;
}

.smallhead:hover{
    background-image: url("greyperson.png");
    
}
.analyticss {
    min-height:400px;
    border: 1px solid #cccccc;
}

.act{
    float: left;
    padding-left: 10%;
    color: #cccccc;
}

.channels {
    color: #cccccc;

}

.dropdown{
    position: relative;
    left: 30%;
}

.dropdown-menu {
    margin-left: 4%;
}

.graph1 {
    width: 70%;
}

.anatop {
    padding-left: 5%;
}

.biggraph {
    position: relative;
    left: 10%;
    max-width: 100%;
    height: auto;
}

.circle {
    position: relative;

}
.greygear {
    position: relative;
    right: -90%;
    margin-top: -60px;


}

.numpad{
    padding-right: 3%;
}

.recommendations {
    border: 1px solid #cccccc;
    min-height: 600px;
    margin-top: -87px;
    }

.contacts {
    min-height: 270px;
}

.did {
    min-height: 230px;
    margin-left: 33%;

}
 
 .ads {
    border: 1px solid #cccccc;
    min-height: 220px;
    
 }
 
 .smallfont {
    color: #666666;
    font-size: 10px;
 }
 
 .paper1 {
    color:#666666;
    font-size: 16px;
    position: relative;
    margin-top: -2%;

 }
 
 .teenybox{
    padding-top:1.5em;
    padding-bottom:1em;
    border-bottom: dashed 1px #cccccc;
    
 }
    
 
 .floatpaper {
    float: left;
 }
 
 .floatbulb {
    float:left;
    padding-right: 10px;
 }
 
 .ads {
    background:#2394ee;
    padding-left: 5%;
 }
 
 .ad1
    {
        
    }
 
 .mess1{
    border-radius: 7px;
    padding-top: 8%;
 }
 
 .mess2 {
    padding-top:8%;
    border-radius: 7px;
 }
 
 .hair1{
    position: relative;
    padding-top: 3%;
 }

.adwords {
    color: white;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    margin-left: -250px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.selector {
    padding-top: 75px;
    padding-left: 48px;
}

.spacerimg{
    padding-left: 15px;
    padding-right: 15px;
    
}

.socialcheck{
    padding-left: 23%;
    float: left;
}

.smallright {
    margin-left: -20px;
    margin-top: 10%;

}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(uncheckedbox.gif);
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(checked.png);
}

.bluebox {
    height:50px;
    width:215px;
    background-color: #2394ee;
    font-size: 21px;
    color: white;
    font: myriad pro;
    position: relative;
    right: 10%;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px 10px 5px 10px;

}

.bluebox2 {
        background-color: #2394ee;
        position: relative;
        color: white;
        border-radius: 5px;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 8%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.circleleft {
position: absolute;
padding-left: -50PX;
padding-top: 3%;
z-index: 1;
margin-left: -9%;
}

.circleright {
position: absolute;
z-index: 1;
padding-left: 100%;
padding-top: 3%;
}

.outset {
  border-radius: 5px;
  width: 210px;
  height: 195px;
  margin-left: 10%;
  box-shadow: 1px 1px 6px 1px #cccccc;
  margin-top: 5em;

}
.influ {
    font-size: 11px;
}
    

.greenchart {
    position: relative;
}

.greendude {
    position:relative;
    right: -15%;
}

.leftwing1 {
    
    position: relative;
    top: 4em;
    right: 20%;

    }
    
.rightwing1 {
    position: relative;
    top: 4.2em;
    left: 52%;
}

.rightwing2 {
    position: relative;
    top: 4.2em;
    left: 50%;
}

.orangedude {
    position: relative;
    right: -15%;
}

.footer {
    border: 1px solid ;
    height: 50px;
    box-shadow: 0px -10px 10px #e9e9e9;
    padding-top: 1%;
}

.tsg{
    padding-left: 10%;
    color:#999999;
    border-right: 1px solid #e9e9e9;
}

.tsgspace{
    padding-left: .25em;
    padding-right: .25em;
}

.tsglink {
    color: #999999;
}

.tsglink:hover{
    color: #999999;
    text-decoration: none;
}

.sweep {
    padding-left: 2%;
    border-right: 1px solid grey;
}
.sweeplink{
    font-weight: bold;
    color:#2498f2;
}

.sweeplink:hover{
    text-decoration: none;
    color:#2498f2;
}

.uparrow {
    padding-left: 19%;
}

.logoutimage {
    margin-top: -2%;
}

.logoutbox {
    margin-top: -.5%;
    border-right: 1px solid grey;
}

.tinysocial {
    display: -webkit-box;
}

.border-top-radius(@radius) {
  border-top-right-radius: @radius;
   border-top-left-radius: @radius;
}
.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
     border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
   border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
     border-top-left-radius: @radius;
}