body {
    
    font-family: myriad pro, sans-serif;
    position: relative;
}

h1 {
    color: white;
}

h2 {
    color: #2498f4;
}
.navigation{
    border: 1px solid black;
    padding:25px;
    background-image: url(menubackground.gif);
    height:111px;
    padding-left:30%;
    background-size: 100% auto;
    position: relative;
    width: 100%;

}
    
.navlist {
    position: absolute;
}

.navlist li {
    padding-top:30px;
    list-style: none;
    position: absolute;
    top: 0;
}

.navlist li, .navlist a {
    display: block;
}

.ds {
    margin-bottom: 0px;
}

.cg {
    margin-left:90px;
    margin-top:10px;
}

.mg {
    margin-left:180px;
    margin-top:10px;
}

.pg {
    margin-left: 270px;
    margin-top:10px;
}

.gp {
    margin-left: 345px;
    margin-top:5px;
}

.ag {
    margin-left: 425px;
    margin-top: 10px;
}

.nl{
    padding-top: 30px;
}
.community {
    margin-right:100px;
}

.white-box {
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;

}

.header {
    min-height: 45px;
    background: #208ce3;
    border: 1px solid black;
    color: white;
    padding-left: 70%;
    padding-top: 10px;
    position: relative;
}

.third-row {
    min-height: 40px;
    border: 1px solid black;
    margin-top: 10px;
    
}

.box1 {
    color: #fe7f13;
    padding-top: .5em;
}

.box2, .box3 {
    padding-top:.5em;
}
.search {
    border: 1px solid black;
    background:#33cc66;
    min-height: 70px;
    border-radius:5px;
    margin-top: 20px;
    margin-bottom:20px;
    padding-top: 10px;
    padding-right: 20px;
    position: relative;
    
}

.form-control {
    width: 300px;
    display: block;
    background:#FFFFFF url(Search.png) no-repeat 95%;
    position: relative;
    right: -400px;

    
    
}

.top {
    font-size: 36px;
    color:white;
    float: left;
}

.tasks {
    border: 1px solid black;
    min-height: 300px;

}

.numtasks {
    font-size: 21px;
    color: #2498f4;

}

.pr {
    position: relative;
}

.welcomec {
    color: #cccccc;
    font-size:21px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #cccccc;
}

.num2{
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #cccccc;
}

.stupidbox, .stupidbox2, .stupidbox3, .stupidbox4{
    border: 1px solid #cccccc;
    border-radius: 5px;
    position: relative;
    padding: 5px 5px 5px 5px;

}

.stupidbox {
     left: 27%;

}

.stupidbox2 {
    left: 24%;

}

.stupidbox3 {
    left: 33%;

}

.stupidbox4 {
    left: 46%;
    padding: 5px 10px 5px 10px;


}

.analyticss {
    min-height:400px;
    border: 1px solid black;
}

.act{
    float: left;
    padding-left: 10%;
    color: #cccccc;
}

.channels {
    color: #cccccc;
    padding-left:80%;

}

.dropdown{
    position: relative;
    left: 30%;
}

.dropdown-menu {
    margin-left: 4%;
}

.anatop {
    padding-left: 5%;
}

.biggraph {
    position: relative;
    left: 10%;
}

.circle {
    float: right;
}
.greygear {
    position: relative;
    right: -70%;

}

.numpad{
    padding-right: 3%;
}

.recommendations {
    border: 1px solid black;
    min-height: 600px;
    background: green;
    margin-top: -100px;
    }

.contacts {
    border: 1px solid black;
    float: right;
    margin-top:-500px;
    min-height: 270px;
    padding-top: 2%;
}

.did {
    margin-top:-230px;
    border: 1px solid black;
    min-height: 230px;

}
 
 .ads {
    border: 1px solid black;
    min-height: 220px;
    
 }
 
 .question {
    
 }

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.selector {
    padding-top: 75px;
    padding-left: 48px;
}

.spacerimg{
    padding-left: 15px;
    padding-right: 15px;
    
}

.socialcheck{
    padding-left: 23%;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(uncheckedbox.gif);
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(checked.png);
}

.bluebox {
    height:50px;
    width:215px;
    background-color: #2394ee;
    font-size: 21px;
    color: white;
    font: myriad pro;
    position: relative;
    right: -20%;    
       
}

.greenchart {
    position: relative;
    left: 22%;
}

.four {
    font-size: 11px;
}
    
.border-top-radius(@radius) {
  border-top-right-radius: @radius;
   border-top-left-radius: @radius;
}
.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
     border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
   border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
     border-top-left-radius: @radius;
}