.spacer, .PromotionsGreen1, .promotions, .customers-green, .analytics-green, .analytics, .messages-green, .messages, .dashboard-green, .dashboard, .Search, .up-arrow-blue, .checked-box_03, .uncheckedbox, .active-facebook, .active-foursquare, .active-twitter, .active-youtube, .in-facebok, .in-foursquare, .in-twitter, .in-youtube, .arrow-right, .arrow-left, .green4, .greenbulb, .greencheck, .greenpaper, .green2, .green3, .greygear, .blueperson, .greytiny, .grey1, .Menu_03, .question2, .gearwhite2, .bluepaper2, .blueperson2{
	background: url(sprites.png) no-repeat;
}

.spacer{
	background-position: -86px -18px ;
	width: 1px;
	height: 30px;
}

.PromotionsGreen1{
	background-position: -18px -77px ;
	width: 58px;
	height: 69px;
}

.PromotionsGreen1:hover{
	background-position: -94px -76px ;
	width: 58px;
	height: 69px;
}

.customers-green{
	background-position: -171px -82px ;
	width: 62px;
	height: 64px;
}

.analytics-green{
	background-position: -248px -80px ;
	width: 58px;
	height: 66px;
}

.analytics-green:hover{
	background-position: -314px -79px ;
	width: 58px;
	height: 66px;
}

.messages-green{
	background-position: -385px -79px ;
	width: 58px;
	height: 65px;
}

.messages-green:hover{
	background-position: -451px -79px ;
	width: 58px;
	height: 65px;
}

.dashboard-green{
	background-position: -20px -161px ;
	width: 59px;
	height: 73px;
}

.dashboard-green:hover {
	background-position: -86px -160px ;
	width: 59px;
	height: 73px;
}

.Search{
	background-position: -101px -25px ;
	width: 23px;
	height: 22px;
}

.up-arrow-blue{
	background-position: -132px -30px ;
	width: 14px;
	height: 9px;
}

.checked-box_03{
	background-position: -155px -24px ;
	width: 26px;
	height: 21px;
}

.uncheckedbox{
	background-position: -204px -29px ;
	width: 18px;
	height: 24px;
}

.active-facebook{
	background-position: -232px -12px ;
	width: 16px;
	height: 17px;
}

.active-foursquare{
	background-position: -252px -31px ;
	width: 20px;
	height: 17px;
}

.active-twitter{
	background-position: -275px -12px ;
	width: 20px;
	height: 17px;
}

.active-youtube{
	background-position: -298px -12px ;
	width: 24px;
	height: 17px;
}

.in-facebok{
	background-position: -232px -32px ;
	width: 16px;
	height: 17px;
}

.in-foursquare{
	background-position: -252px -12px ;
	width: 20px;
	height: 17px;
}

.in-twitter{
	background-position: -274px -32px ;
	width: 20px;
	height: 17px;
}

.in-youtube{
	background-position: -298px -32px ;
	width: 24px;
	height: 17px;
}

.arrow-right{
	background-position: -327px -6px ;
	width: 60px;
	height: 50px;
}

.arrow-left{
	background-position: -373px -6px ;
	width: 52px;
	height: 50px;
}

.green4{
	background-position: -282px -156px ;
	width: 39px;
	height: 30px;
}

.greenbulb{
	background-position: -320px -154px ;
	width: 31px;
	height: 35px;
}

.greencheck{
	background-position: -322px -187px ;
	width: 39px;
	height: 30px;
}

.greenpaper{
	background-position: -283px -218px ;
	width: 39px;
	height: 36px;
}

.green2{
	background-position: -248px -189px ;
	width: 39px;
	height: 33px;
}

.green3{
	background-position: -247px -226px ;
	width: 39px;
	height: 34px;
}

.greygear{
	background-position: -323px -222px ;
	width: 32px;
	height: 22px;
}

.blueperson{
	background-position: -289px -189px ;
	width: 31px;
	height: 25px;
}

.greytiny{
	background-position: -353px -154px ;
	width: 35px;
	height: 28px;
}

.grey1{
	background-position: -242px -158px ;
	width: 49px;
	height: 30px;
}

.Menu_03{
	background-position: -85px -255px ;
	width: 60px;
	height: 73px;
}

.question2{
	background-position: -41px -15px ;
	width: 32px;
	height: 30px;
}

.gearwhite2{
	background-position: -4px -16px ;
	width: 48px;
	height: 30px;
}

.Menu_03:hover{
	background-position: -22px -255px ;
	width: 60px;
	height: 73px;
}

.customers-green:hover{
	background-position: -170px -168px;
	width: 62px;
	height: 64px;

}

